<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SponsorshipWeb</a>

        <button class="navbar-toggler"
                title="Navigation menu"
                @onclick="ToggleNavMenu">

            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">

    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center"
                     href="home"
                     Match="NavLinkMatch.All">

                <span class="bi bi-house-door-fill menu-icon"></span>
                <span class="menu-text">Home</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center"
                     href="sponsorships">

                <span class="bi bi-cash-stack menu-icon"></span>
                <span class="menu-text">Sponsorship</span>
            </NavLink>
        </div>

        @if (IsAdmin())
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link d-flex align-items-center"
                         href="sponsorshiptype">

                    <span class="bi bi-tags-fill menu-icon"></span>
                    <span class="menu-text">Sponsorship Type</span>
                </NavLink>
            </div>
        }

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private SignInResponseDto? currentUser;

    protected override void OnInitialized()
    {
        LoadUser();

        AppStateNotifier.OnChange += LoadUser;
    }

    private async void LoadUser()
    {
        currentUser = await SessionStorage.GetUser();
        await InvokeAsync(StateHasChanged);
    }

    private bool IsAdmin()
    {
        return currentUser?.RoleId == 1;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Dispose()
    {
        AppStateNotifier.OnChange -= LoadUser;
    }
}